@model IEnumerable<Labb1.Models.Vacation>

@{
    ViewData["Title"] = "Admin";


    int GetWorkingDays(DateTime start, DateTime end)
    {
        int workingDays = 0;
        for (DateTime date = start; date <= end; date = date.AddDays(1))
        {
            if (date.DayOfWeek != DayOfWeek.Saturday && date.DayOfWeek != DayOfWeek.Sunday)
            {
                workingDays++;
            }
        }
        return workingDays;
    }
}
}



<h1>Översikt</h1>

@using (Html.BeginForm("Admin", "Vacations", FormMethod.Get))
{
    <p>Välj månad för ansökningsdatum: <input type="month" name="selectedMonth"></p>
    <input type="submit" value="Filtrera">
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FK_EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                Antal dagar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @* TimeSpan days = item.EndDate - item.StartDate;
            int daysLeave = days.Days;
 *@
            int daysLeave = GetWorkingDays(item.StartDate, item.EndDate);

            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @daysLeave
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VacationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VacationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
